<div class="container">


<h2>Commits by Task</h2>
<%= pie_chart @stats_sum %>

<h2>Commits Timeline</h2>
<%= line_chart @commits.group_by_day(:created_at).count %>

<h2>All Commits</h2>
<table class="table">
  <thead>
  <tr>
     <th>Date</th>
     <th>Runtime</th>
     <th>Stats</th>
  </tr>
  </thead>
  <tbody>
  <% @ordered_commits.per(10).each do |commit| %>
  <tr>
     <td><%= commit.created_at %></td>
     <td><%= humanize commit.runtime %></td>
     <td>
    <% commit.stats.each do |stat| %>
        <%= stat.amount %> - <%= stat.task.titleize %>
      <% end %>
     </td>
  </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @ordered_commits %>
</div>
