<%= @n %>
<div class="text-center">
  <h1>Runescape Bot Stats </h1>
  <h3>Hiscores for the best Runescape bots</h3>
  <br />
  <br />
  <br />
</div>

<div class="container">
  <div class="row">
  <div class="col-sm">
    <h2 class="text-center">Top 5 Scripts</h2>
    <% if @top_5_runtime %>
      <% @top_5_runtime.each do |script| %>
       <%= link_to script.name, script %>
       <%= humanize(script.commits.sum(:runtime)) %>
     </br>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm">

  </div>
  <div class="col-sm">
    <h2 class="text-center">Top 5 Stats</h2>
    <% if @top_5_stats %>
    <% @top_5_stats.each do |stat| %>
     <%= stat[0].titleize %>
     <%= stat[1] %>
   </br>
    <% end %>
    <% end %>
  </div>
</div>
</div>
