<!DOCTYPE html>
<html>
  <head>
     <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115007780-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115007780-1');
</script>
<% end %>


    <title>Rsscriptstats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <ul class="nav bg-dark">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item ml-auto">
        <li class="nav-item">
          <div class="nav-pad">
            Your ID is: <%= current_user.hashid %>
          </div>
        </li>
      </li>
      <% end %>
      <li class="nav-item ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to(current_user.email, edit_user_registration_path, class: "nav-link") %>
        </li>
      <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
        <% else %>
        <li class="nav-item">
        <%= link_to('Register', new_user_registration_path, class: "nav-link") %>
      </li>
        <li class="navbar-text text-white">
          or
</li>
      <li class="nav-item">  <%= link_to('Login', new_user_session_path, class: "nav-link") %></li>
        <% end %>
      </li>

    </ul>

  </head>

  <body class="">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
